numpy
scipy
pandas
ipython
jupyter
matplotlib
scikit-image
scikit-learn
sphinx
pudb
pytest
pytest-pep8
pytest-cov
pytest-pudb
Flask
autopep8
gunicorn
pip
psycopg2
pymongo
click
SQLAlchemy
requests
sendgrid
